
@import 'https://fonts.googleapis.com/css?family=Indie+Flower|Lobster+Two|Poppins';
.supreme-1{
	width: 1%;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}


.navbar-default{
	opacity: 0.5;
	background-image: linear-gradient(to bottom,#333 0,#333 100%);
}

.navbar-default .navbar-nav>li>a {
    color: #e8e8e8;
}

.nice-padding{
	padding: 20px;
	background-color: #777;
}

.navbar-brand {
    float: left;
    height: 60px;
    width: 100px;
    padding: 8px 5px;
    font-size: 18px;
    line-height: 20px;
}
.relative{
	position: relative;
}




/***
Side-bar use profile
**/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 510px;
}

.profile-font{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;

}

/*blockquote*/

blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    
    overflow: hidden;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #929396;
    margin-top: 0px;
    color:white;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    font-family: 'Lobster Two', cursive;
    
}

.quotation-mark{
    margin-top: -10px;
    font-weight: bold;
    font-size:50px;
    color:white;

    
}

.quote-text{
    font-size: 19px;
    margin-top: -40px;
    text-align: center;
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
}

.w1dget{
	  border: 2px solid #929396;
	  border-radius: 1em;
}
.w1dget-head{
	padding-bottom: 10px
	height:32px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #5b9bd1;
	max-height: 202px;
}

.gly{
	vertical-align: middle;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #929396;
    padding-top: 10px;
    height: 39px;

}

.w-title{
	font-size: 20px
}

.no-marpad{
	margin: 1px;
	padding: 1px;

}

/*progressbar*/

.tooltip{ 
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px;}
.popOver + .tooltip > .tooltip-arrow {    border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}

section{
  margin:140px auto; 

}
.progress{
  border-radius:0;
  overflow:visible;
}
.progress-bar{
   background:rgb(23,44,60); 
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}
.height-bar{
	height: 150px;
	padding-top: 50px;

}